html, body {
  background: #fff;
  font-family: 'Open Sans';
  color: #333;
}
main {
  margin-top: 84px;
}
img {
  border-radius: 6px;
}
h1 {
  font-size: clamp(3rem, 5vw, 2.5rem);
  color: #fff;
}
h2 {
  font-size: clamp(2.5rem, 5vw, 2rem);
  font-weight: bold;
}
h3 {
  font-size: clamp(2rem, 5vw, 1.5rem);
  color: #b1005d;
}
.h901-logo {
  max-width: 101px;
  height: auto;
  z-index: 99;
  padding-left: 1rem;
}
.nav-link {
  color: #b1005d;
  font-family: 'Roboto Condensed';
  font-size: 1.1rem;
}
.nav-link:hover {
  color: #00a9e0;
  text-decoration: underline;
}
.nav-button {
  color: #fff;
  text-decoration: none;
}
.nav-button:hover {
  color: #fff;
}
.h901-fest-banner {
  background: url('../../assets/images/GettyImages-1051015366.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-primary {
  background: #b1005d;
  --bs-btn-color: #fff;
  --bs-btn-bg: #b1005d;
  --bs-btn-border-color: #b1005d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b1005d;
  --bs-btn-hover-border-color: #91004b;
  --bs-btn-focus-shadow-rgb: 145, 0, 75;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #91004b;
  --bs-btn-active-border-color: #91004b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b1005d;
  --bs-btn-disabled-border-color: #b1005d;
}
.btn-primary:hover {
  background: #91004b;
}
.btn-outline-primary {
  color: #fff;
  outline: 1px solid #fff;
}
.btn-outline-primary:hover {
  color: #fff;
  background: #b1005d;
  border: none;
}
.carousel-indicators {
  position: bottom;
}
img.img-fluid {
  margin: 0;
}
.hc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-download {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.hc-body {
  padding: 4px 0 4px 8px;
}
.p-1 {
  font-size: 12px;
  margin: 0;
}
.hc-card {
  background: #00a9e0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hc-month,
.hc-day {
  color: #fff;
  font-size: 1rem;;
  font-weight: bold;
  margin: 0;
}
.hc-month {
  margin-bottom: 0;
  padding-bottom: 0;
}
.event-card-full {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
}
.event-card-full:hover {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
}
p.card-title {
  font-family: 'Roboto Condensed';
  color: #00a9e0;
  font-size: 1rem;
}
p.card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-text {
  margin-bottom: 10px;
  font-size: 14px;
  display: inline-block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-divider {
  margin-top: 0;
  margin-bottom: 4px;
  width: 80%;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.news-title {
  color: #00a9e0;
  text-align: center;
  margin: 0;
  font-size: 1.15rem;
}
p.news-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-full {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.card-full:hover {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
}
p.news-text {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
p.news-link {
  margin-bottom: 0;
  padding: 8px 0 0 0;
  font-size: 12px;
}
a.news-text-link {
  text-decoration: none;
}
.hg-box {
  font-size: clamp(1.15rem, 5vw, 1rem);
}
.wellness-app {
  background-image: url("../assets/images/app-image-v1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
}
.well-text {
  font-size: clamp(1.5rem, 5vw, 1rem);
  width: 75%;
}
img.app-screen {
  max-width: 300px;
  height: auto;
  padding-bottom: 2rem;
  margin: 0;
}
.app-button,
.ready-btn {
  padding: 8px 2rem;
}
.sponsor-slider {
  max-width: 80%;
}
.slider {
  overflow: hidden;
}
.sponsor-logo {
  max-width: 180px; /* temporary- will change back to 300px */
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 96px; /* temporary- will delete when we have sponsor images */
}
.logos {
  width: 100%;
  white-space: nowrap;
  animation: slider 30s linear infinite;
}
@keyframes slider {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.resources {
  background-image: url("../assets/images/fitness-resources.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.rg-box {
  font-size: clamp(1.25rem, 5vw, 1rem);
  width: 80vw;
}
.res-box {
  font-size: 1.05rem;
  width: 90%;
}
footer {
  background: #00a9e0;
  background-image: url("../assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.footer-logo-text {
  font-size: 14px;
}
.copy-footer {
  font-size: 12px;
  color: #eee;
}
.mlh-link-footer {
  border-bottom: 2px solid #fff;
  text-decoration: none;
  color: #fff;
}
.mlh-link-footer:hover {
  color: #b10057;
  border-bottom: 2px solid #b1005d;
}
.footer-social-icon {
  width: 60px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.facebook:hover,
.twitter:hover,
.instagram:hover {
  color: #b1005d;
}
.footer-policy-link {
  margin: 1rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.policy-link {
  text-decoration: none;
  color: #fff;
  border: none;
}
.policy-link:hover {
  color: #b1005d;
  text-decoration: underline;
}
.f-nav-1 {
  padding-right: 2rem;
}
.card-full {
  width: 18rem;
}
.cta-container {
  background-image: url("../assets/images/healthier901-v1-cta.png");
  background-size: cover;
  height: 60vh;
}
.about-h901 {
  border-radius: 7px;
}
.sponsors-1 {
  max-width: 300px;
  height: auto;
}
.sponsors-2 {
  max-width: 200px;
  height: auto;
  border-radius: 7px;
}
.sponsors-3 {
  max-width: 150px;
  height: auto;
  border-radius: 7px;
}
a.sponsor-name {
  text-decoration: none;
  text-align: center;
  margin-top: 12px;
  color: #333;
}
a.sponsor-name:hover {
  color: #00a9e0;
  text-decoration: underline;
}
@media screen and (min-width: 1440px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .navbar-nav li {
    margin-right: 2rem;
  }
  .navbar-nav li:nth-child(5) {
    margin-right: 80px;
  }
  .navbar-nav li:nth-child(6) {
    margin-right:1rem;
  }
  .navbar-nav li:last-child {
    margin-right: 2rem;
  }
  .hg-box {
    width: 50vw;
  }
  .wellness-app {
    height: 90vh;
  }
}
@media screen and (max-width: 600px) {
  .carousel-slides {
    margin-top: 84px;
  }
  .slide-flex {
    margin: 0 auto;
    width: 90vw;
    background: rgba(255, 255, 255, 0.75);
    padding: 8px;
    border-radius: 6px;
  }
  .hg-box {
    width: 80vw;
  }
  .well-text,
  .about-text {
    width: 90%;
  }
  .f-nav-1 {
    padding-right: 1rem;
  }
  .event-card-full {
    width: 90vw;
  }
  .card-full {
    width: 90vw;
    margin-bottom: 1.5rem;
  }
  .logoContainer {
    max-width: 90%;
    margin: 0 auto;
  }
  .wellness-app {
    height: 130vh;
  }
  img.app-screen {
    margin: 0 auto;
  }
  .well-text {
    margin-bottom: 5rem;
  }
  #health-resources {
    margin-top: -160px;
  }
  .rg-box {
    width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  .navbar-toggler {
    margin-right: 3rem;
    color: #00a9e0;
  }
  a.nav-link {
    padding: 1rem 0 0 1.5rem;
    color: #00a9e0;
  }
  .hc-container,
  .card-container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav li:nth-child(6) {
    margin: 1rem;
  }
  .navbar-nav li:last-child {
    margin: 0 1rem;
  }
}