html, body {
  background: #fff;
  font-family: 'Open Sans';
}
.h901-logo {
  max-width: 180px;
  height: auto;
  z-index: 99;
}
.navbar {
  border: 2px solid red;
}
.nav-item {
  color: #b1005d;
  font-family: 'Roboto Condensed';
  font-size: 1.1rem;
}
.nav-item:hover {
  color: #00a9e0;
  text-decoration: underline;
}
@media screen and (min-width: 1440px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}