@font-face {
  font-family: 'Arial';
  src: url('../assets/teaser/fonts/Arial.ttf') format('truetype');
}
@font-face {
  font-family: 'Arial Bold';
  src: url('../assets/teaser/fonts/Arial-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/teaser/fonts/HelveticaNeue.ttf') format('truetype');
}
main {
  width: 80vw;
  padding: 0;
}
h1 {
  font-family: 'Arial';
  font-size: clamp(2rem, 5vw, 4rem);
  color: #00a9e0;
  font-weight: bold;
}
h2 {
  font-family: 'Arial';
  font-size: clamp(1.75rem, 5vw, 2rem);
  color: #00a9e0;
  font-weight: bold;
  letter-spacing: 2px;
}
#nmbrs {
  margin: 0 auto;
  width: 80vw;
  z-index: 2;
}
.h901-logo {
  max-width: 144px;
  height: auto;
  margin-top: 1rem;
}
.powerNumbers {
  background: #666;
  background-image: url('../assets/teaser/images/background1.png');
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: 100%;
}
.change-text {
  margin-top: 650px;
  width: 55vw;
  padding-bottom: 72px;
}
.change-p {
  font-family: 'HelveticaNeue';
  font-size: 1.1rem;
}
#signupForm {
  position: relative;
  margin: 0  auto;
  margin-top: -48px;
  z-index: 99;
  width: 48vw;
}
.signup-text {
  font-family: 'Arial';
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  padding: 16px 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 32px;
}
.box-top {
  background: #d4305e;
}
.box-top,
.box-bottom {
  border: 3px solid #d4305e;
}
.box-bottom {
  background: #fff;
}
.facebook,
.instagram {
  color: #d4305e;
  font-size: 48px;
}
.facebook {
  margin: 0 1.25rem;
}
.instagram {
  margin-right: 1.25rem;
}
.tapIn-text {
  font-family: 'HelveticaNeue';
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0;
  letter-spacing: 2px;
}
.form-control {
  padding: 8px 16px;
  max-width: 400px;
  text-align: center;
  font-family: 'HelveticaNeue';
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.signup-btn {
  font-family: 'HelveticaNeue';
  font-size: 1.2rem;
  padding: 8px 1.5rem;
  background-color: #00a9e0;
}
.signup-btn:hover {
  background-color: #0096c7;
}
#mlhPowered {
  width: 80vw;
  z-index: 1;
  margin-top: -240px;
}
.skyline {
  padding: 0;
}
.poweredBox {
  margin: 0 auto;
  margin-top: -525px;
}
.powerText {
  font-family: 'Arial Bold';
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #333;
  font-weight: bold;
  padding: 1rem;
  letter-spacing: 2px;
}
.powerLogo {
  max-width: 400px;
  height: auto;
}
footer {
  width: 80vw;
  background: #55565b;
}