@font-face {
  font-family: 'Arial';
  src: url('../assets/teaser/fonts/Arial.ttf') format('truetype');
}
@font-face {
  font-family: 'Arial Bold';
  src: url('../assets/teaser/fonts/Arial-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/teaser/fonts/HelveticaNeue.ttf') format('truetype');
}
.h901-logo {
  max-width: 153px;
  height: auto;
}
h1 {
  font-family: 'Arial';
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: #00a9e0;
  font-weight: bold;
}
h2 {
  font-family: 'Arial';
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #00a9e0;
  font-weight: bold;
}
#nmbrs {
  width: 100vw;
  background: #666;
  background-image: url('../assets/teaser/images/GettyImages-1339086355_RET_4.jpg');
  position: contain;
  background-repeat: no-repeat;
  background-position: top left 10%;
}
#skyline {
  background: #00a9e0;
}
#signupForm {
  margin: 0 auto;
  z-index: 99;
  width: 50vw;
}
.box-top {
  background: #d4305e;
}
.box-top,
.box-bottom {
  border: 3px solid #d4305e;
}
.facebook,
.instagram {
  color: #d4305e;
  font-size: 36px;
}