body {
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
main {
  width: 80vw;
  padding: 0;
}
h1 {
  font-family: 'Open Sans';
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  color: #00a9e0;
  font-weight: bold;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Open Sans';
  font-size: clamp(1.75rem, 5vw, 2rem);
  color: #00a9e0;
  font-weight: bold;
  letter-spacing: 2px;
}
#nmbrs {
  margin: 0 auto;
  width: 80vw;
  z-index: 2;
}
.h901-logo {
  max-width: 144px;
  height: auto;
  margin-top: 1rem;
}
.powerNumbers {
  background: #000;
  background-image: url('../assets/teaser/images/background1.png');
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: 100%;
}
.change-text {
  margin-top: 650px;
  padding-bottom: 72px;
  width: 55vw;
}
.change-box {
  width: 50vw;
}
.change-p {
  font-family: 'Inter';
  font-size: 1.1rem;
}
#signupForm {
  position: relative;
  margin: 0  auto;
  margin-top: -48px;
  z-index: 99;
  width: 48vw;
}
.signup-text {
  font-family: 'Open Sans';
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  padding: 16px 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 32px;
}
.box-top {
  background: #d4305e;
}
.box-top,
.box-bottom {
  border: 3px solid #d4305e;
}
.box-bottom {
  background: #fff;
}
.facebook,
.instagram,
.twitter {
  color: #d4305e;
  font-size: 48px;
}
.facebook {
  margin: 0 1rem 0 8px;
}
.instagram,
.twitter {
  margin-right: 1rem;
}
.tapIn-text {
  font-family: 'Inter';
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0;
  letter-spacing: 2px;
}
.form-control {
  padding: 8px 16px;
  max-width: 400px;
  text-align: center;
  font-family: 'Inter';
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.signup-btn {
  font-family: 'Inter';
  font-size: 1.2rem;
  padding: 8px 1.5rem;
  background-color: #00a9e0;
}
.signup-btn:hover {
  background-color: #0096c7;
}
#mlhPowered {
  width: 80vw;
  z-index: 1;
  margin-top: -240px;
}
.skyline {
  padding: 0;
}
.poweredBox {
  margin: 0 auto;
  margin-top: -525px;
}
.powerText {
  font-family: 'Open Sans';
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #333;
  font-weight: bold;
  padding: 1rem;
  letter-spacing: 2px;
}
.powerLogo {
  max-width: 400px;
  height: auto;
}
.copyText {
  margin-top: 365px;
}